.p-title {
  .en {
    font-size: 38px;

    &::after {
      width: 120px;
    }
  }

  .ja {
    font-size: 18px;
  }
}

.top-view {

  .hero {
    &__text {
      h2 {
        font-size: 48px;
      }
    }
  }
}

.tit {
  & .ja {
    font-size: 28px;
  }

  & .en {
    font-size: 20px;
  }
}

.c-topview {
  margin-bottom: 60px;
}

.c-title {
  .en {
    font-size: 42px;
  }

  .ja {
    font-size: 18px;
    padding-bottom: 20px;
  }
}

//.p-news 
.p-news {
  .c-container {
    padding: 0 20vw;
  }
}

//.p-footer 
.p-footer {
  &__logo {

    & img {
      width: 60%;
    }
  }

  &__nav {
    li {
      .c-txt-sm {
        font-size: 18px;
      }
    }
  }
}

// * * * * * * * * * 初めての方へ * * * * * * 
.c-first {
  .c-flow {
    & .item-img {
      & img {
        width: 85%;
      }
    }
  }
}

// * * * * * * * * * 料金体系 * * * * * * 
.c-price {
  &__img {
    height: 250px;
  }
}

// * * * * * * * * * お知らせ一覧 * * * * * * 
.news-wrapper {
  .c-title {
    margin-bottom: 50px;
  }
}

// * * * * * * * * * よくあるご質問 * * * * * * 
.faq-wrapper {
  .faq-contents {
    .c-container {
      padding: 0 20vw;
    }

    .faq {
      &__title {
        margin-bottom: 5vw;
      }

      &__block {

        & dt,
        & dd {
          & .c-txt-md {
            font-size: 24px;
          }
        }
      }

      & dt {
        padding: 0 0 2vw 0;

        span {
          &::after {
            height: 24px;
          }
        }
      }

      & .c-title {
        font-size: 26px;
      }

      & .c-txtarea01 {

        & .c-txt-sm {
          font-size: 20px;
        }
      }

      & .c-txt-sm {
        font-size: 24px;
      }
    }
  }
}